name: Old

on:
  push:
    paths:
      - 'debian-gfortran/old/*'
      - '.github/workflows/debian-gfortran-old.yml'
  schedule:
    - cron: '0 0 * * 2'

jobs:

  build:

    runs-on: ubuntu-24.04

    steps:
    - name: Checkout repository
      uses: actions/checkout@v5
    - name: Login to GHCR
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ github.token }}
    - name: Build and push
      uses: docker/build-push-action@v6
      with:
        file: ./debian-gfortran/old/Dockerfile
        push: true
        tags: ghcr.io/mehdichinoune/debian-gfortran-testing:old
