name: Delete

on:
  workflow_dispatch:
  schedule:
    - cron: '0 2 * * 1'
  push:

jobs:
  Delete:
    name: Delete
    runs-on: ubuntu-latest

    steps:
      - uses: Chizkiyahu/delete-untagged-ghcr-action@v6
        with:
          token: ${{ secrets.PAT }}
          owner_type: user
